{% extends "base.html" %}

{% block title %}
    Contatos
{% endblock %}

{% block content %}

<form>
    <h2>Minhas Redes</h2>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="facebook">Facebook</label>
            <input type="text" class="form-control" id="facebook" placeholder="Link do Facebook">
        </div>
        <div class="form-group col-md-12">
            <label for="twx">X</label>
            <input type="text" class="form-control" id="twx" placeholder="Link do X">
        </div>
        <div class="form-group col-md-12">
            <label for="instagram">Instagram</label>
            <input type="text" class="form-control" id="instagram" placeholder="Link do Instagram">
        </div>
        <div class="form-group col-md-12">
            <label for="linkedin">Linkedin</label>
            <input type="text" class="form-control" id="linkedin" placeholder="Link do Linkedin">
        </div>
        <div class="form-group col-md-12">
            <label for="github">GitHub</label>
            <input type="text" class="form-control" id="github" placeholder="Link do GitHub">
        </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check"></i>&nbsp;Gravar Contatos</button>
    <button type="button" class="btn btn-secondary"><i class="fa-solid fa-xmark"></i>&nbsp;Cancelar</button>
  </form>
  <br>
{% endblock %}
