{% extends "base.html" %}

{% block title %}
Listar categorias
{% endblock %}

{% block content %}
<h2>categorias Cadastradas</h2>
<hr>

<div class="btn-group mb-3" role="group">
    <button type="button" class="btn btn-outline-secondary btn-sm"
        onclick="window.location.href='{{ url_for('categoria') }}'">
        <i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Nova Categoria
    </button>
</div>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>Nome</th>
            <th style="width: 160px;">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nome_categoria }}</td>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <a href="{{ url_for('editar_categoria', nome_categoria=categoria.nome_categoria) }}" class="btn btn-warning">
                        <i class="fa-solid fa-pen-to-square"></i> Editar
                    </a>
                    <a href="{{ url_for('excluir_categoria', nome_categoria=categoria.nome_categoria) }}" class="btn btn-danger"
                        onclick="return confirm('Tem certeza que deseja excluir este categoria?');">
                        <i class="fa-solid fa-trash"></i> Excluir
                    </a>
                </div>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4" class="text-center">Nenhum categoria encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}