<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='image/chef.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Receitas Fáceis</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.login.min.css') }}" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/signin.css') }}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </head>

  <body class="text-center" style="background-image: url('{{ url_for('static', filename=imagem_fundo) }}'); background-size: cover; background-repeat: no-repeat; height: 100px;">

    <div class="div-flutuante-login">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'success' %}
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    Swal.fire({
                      icon: 'success',
                      title: 'Sucesso',
                      text: '{{ message }}',
                      confirmButtonText: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fechar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                      customClass: {
                        confirmButton: 'btn btn-primary'
                      },
                      buttonsStyling: false
                    });
                  });
                </script>
              {% elif category == 'error' %}
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    Swal.fire({
                      icon: 'error',
                      title: 'Verificar',
                      text: '{{ message }}',
                      confirmButtonText: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fechar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
                      customClass: {
                        confirmButton: 'btn btn-primary'
                      },
                      buttonsStyling: false
                    });
                  });
                </script>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>


    <form class="form-signin" method="POST">
      <h1 class="h2 mb-3 font-weight-normal">Receitas Secretas</h1>
      <img class="mb-4" src="{{ url_for('static', filename='image/chef.png') }}" alt="" width="250">
      <label for="email" class="sr-only">Endereço de email</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
      <label for="senha" class="sr-only">Senha</label>
      <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy;2025 Copyright: Programação em Python com Framework</p>
      <p class="mt-1 mb-1 text-muted"><i class="fas fa-user-graduate"></i> Nome do Aluno</p>
    </form>
  </body>
</html>
